
 img{
 border-radius: 50%;
 width: 150px;
 height: 150px;
}
 p{
    font-size: medium;
    font-family: sans-serif;
    font-weight: 500%;
    align-self: center;
    font-stretch: expanded;
    margin-inline-start: 10px;
}

.category-item{
    margin-top: 50px;
    display: flex;
    background-color: rgb(238, 245, 248);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: fit-content;
    margin-bottom: 40px;
    margin-left: 40px;

}
