
.social-media{
    display: flex;
    justify-content: center;
  align-content: space-between;

}

.foot{
    background-color: rgb(123, 161, 233);
    margin-top: 20px;
    height: 200px;
    width: 100%px;
    max-width: fit-content;
    border-radius: 20px;
    padding-top: 100px;
    max-width: 1800px;
    position: relative;
}
.facebk{
    height: 50px;
    width: 50px;
    border-radius: 10px;
     
}
.twitter{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin-left: 30px;
   
}
.insta{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin-left: 30px;
   
}
.home-pricing{
    display: flex;
    justify-content: center;  
}
.home-pricing li{
    margin-left: 30px;
    margin-top: 10px;
    list-style-type: none;
}