.form-container{
    background-color: rgb(229, 237, 243);
    width: 15em;
    margin-top: 2em;
    height:80em;
    align-self: center;
    margin-left: 5em;
    margin-right: 2em;
    border-radius: 1em;
}
h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    margin-left: 3em;
    margin-top: 3em;
   


}

.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 1.5em;
    border-radius: 1em;
    background-color: rgb(229, 237, 243);
}

.author-name-input{
   max-width: 5em 0;
    height: 3em;
    margin-left: 4em;
    margin-top: 1.5em;
    border-radius:1em;

}
.author-label{
    margin-left: 3em;
    margin-bottom: 1em;
    margin-top: 2em;
    font-size: x-large;
    font-weight: bold;
    
}
.joke-input{
    width: 8em;
    height: 4em;
    border-color: black;
    margin-left: 2em;
    margin-bottom: 1em;
    /* margin-top: 10px; */
    border-radius: 1em;

}
.joke-label{
    margin-left: 3em;
    margin-bottom: 1em;
    margin-top: 2em;
    font-size: x-large;
    font-weight: 5em;
    
}
.comment-label{
    margin-left: 3em;
    margin-bottom: 1em;
    margin-top: 2em;
    font-size: x-large;
    font-weight: 5em;
    

}
.comment-input{
    width: 8em;
    height: 4em;
    margin-left: 3em;
    margin-bottom: 1em;
    margin-top: 1em;
    border-radius: 1em;
    cursor: pointer;
    
}
.submit-button1{
    width: 4em;
    height: 1.5em;
    font-size: large;
    font-weight: bold;
    border-radius: 2em;
    margin-top: 3em;
    margin-bottom: 4em;
}
.submit-button2{
    width: 4em;
    height: 1.5em;
    font-size: large;
    font-weight: bold;
    border-radius: 2em;
    margin-top: 3em;
    margin-bottom: 4em;
}

.joke-buttons{
    display: flex;
   justify-content: space-around;
}

@media screen and (max-width:550px) {
    
    body{
        --font-size:8px
    }
    .form-container{
        width: 10em;
        height:40em;
        align-self: center;
    }
    
   
.author-name-input{
    max-width: 3em 0;
     height: 1.5em;
 
 }
 .author-label{
     margin-left: 2em;
     margin-bottom: 1em;
 }
 .joke-input{
     width: 5em;
     height: 3em;
 
 }
 .joke-label{
     margin-left: 1.5em;
     
 }
 .comment-label{
     margin-left: 1.5em;
     
 
 }
 .comment-input{
     width: 4em;
     height: 2em;
     margin-left: 2em;
     
 }
 
    
}