/* 
:root{
    --font-size:16px;
    --border-radius:0.2em;
}
.jokes-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:1.5em;
    background-color: brown;
    box-sizing: border-box;

}

.single-cat{
    align-self: center;
    margin-top: 50px;
    margin-left: 800px;
}

@media screen and (max-width:550px) {

    body{
        --font-size:8px
    }
    .joke-grid{
       grid-template-columns: 1fr;
      
    }

   
    
} */
