/* 
:root{
    --font-size:16px;
    --border-radius:0.2em;
    --clr-primary:#aa0df9
}

.joke-container{
background-color: rgb(255, 255, 255);
border-radius: var(--border-radius);
padding: 0.5em;
width:max(80%, 5em) ;
border-top: 4px solid var(--clr-primary) ;

}
.joke-icons{
    width:1200px;
    display: flex;
    width: min(50%, 13em);
     justify-content: space-evenly; 
     background-color: aqua;
     
    }
.like-image{
    width: 0.5em;
    height: 0.5em;
   border-radius: var(--border-radius);
    padding: 10px;
    background-color: rgb(247, 247, 247);
    
}
.laugh-image{
    width: 30px;
    height: 30px;
    border-radius: 10px;


}
.comment-image{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border-bottom: 5px;
}
.joke-element{
    font-size: 4em;
    font-family: sans-serif;
    font-weight: 500px;
    color: blue;
   margin-left: 60px;
  
}
.like-container{
    width: 70px;
    display: flex;
    justify-items: center;
    background-color: rgb(233, 241, 243);
    
}
.like-container span{
    margin-top: 10px;
    margin-left: 5px;
    font-size: 25px;
    font-weight: 1000;
}
.laugh-container{
    width: 70px;
    display: flex;
    justify-items: center;
    background-color: rgb(233, 241, 243);

}
.modal-div{
    background-color: aqua;
}
.laugh-container span{
    margin-top: 3px;
    margin-left: 5px;
    font-size: 25px;
    font-weight: 1000;
}

.jokes-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:1.5em;
    background-color: rgb(239, 228, 228);
    box-sizing: border-box;
    list-style-type: none;


}

.single-cat{
    align-self: center;
    margin-top: 50px;
    margin-left: 800px;
}

@media  screen and (max-width:480px){
    body{
      ---font-size:8px
    }
    .joke-grid{
        grid-template-columns: 1fr;
     }
.joke-container{
background-color: rgb(254, 254, 255);
width: 0.5em;

}
.joke-icons{
  width: 0.5em;
   display: flex;
   justify-content: space-around;
   align-items: end; 
  }

}

   
    */
