
.container li{
margin:50px 50px 0px 20px;
list-style: none;
display: inline-block;
}
.container{
    background-color: rgb(253, 253, 253);
    height: 700px;
    width: 1800px;
    border-radius: 20px;
    max-width: fit-content;
    position: relative;

 
}
*{
    box-sizing: border-box;
}
.single-cat{
    align-self: center;
    margin-top: 50px;
    margin-left: 800px;
}

@media(max-width:480px) {
    .container{
        width: 500px;
        position: absolute;
        max-width: 500px;
    }

    .container li {
        display: inline;
    }
    
}
