.search-container{
  background-color: rgb(237, 241, 243);
  height: 4em;
  max-width:30em;
  width: 100%;
  display: flex;
  /* margin-left: 450px; */
  margin-top: 3em;
  margin-right: 3em;
  position: relative;
  margin-left:auto;
  margin-right:auto;
  /* border-radius: 10px; */
  
}
.select-box{
  width: 90%;
  max-width: 35em;
  background-color: rgb(245, 249, 249);
  border-radius: 10px;
}
.select-box option{
  font-size: x-large;
  font-weight: 200;
}

.search-icon{
  width: 3em;
  height: 3em;
  align-self: center;
}
.search-button{
  width: fit-content;
  height:4.7em ;
  border-radius: 1em;
}
.form-search{
  width: 50%;
  margin-left:auto;
  margin-right:auto;
}

@media (max-width:550px) {
  body{
    --font-size:8px;
  }
  .search-container{
    height: 4em;
    max-width:30em;
    width: 100%;
    display: flex;
    
  }
  .search-box{
    width: 90%;
  max-width: 40em;
  background-color: rgb(245, 249, 249);
  border-radius: 10px;
  }
  .search-icon{
    width: 1.5em;
    height: 1.5em;
    align-self: center;
  }
  .search-button{
    width: fit-content;
    height:2.3em ;
    border-radius: 1em;
  }
}