

:root{
  --font-size:16px;
}

body{
  --font-size:var(--font-size)
}
.darkBG {
    background-color: rgba(0, 0, 0, 0.2);
    width: 300vw;
    height: 300vh;
    z-index: 0;
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    
  }
  
  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8f8f8;
  }
  
  .modal {
    width: 50em;
    height: 30em;
    background: white;
    color: white;
    background-color: rgb(238, 245, 245);
    z-index: 10;
    border-radius: 1em;
    box-shadow: 0 0.1em 1.5em 0 rgba(0, 0, 0, 0.04);
    overflow-y: scroll;
  }
  .modal ul li{
    list-style-type:none;
    font-style: black;
  }
  .commentDiv{
    background-color: #ffffff;
    margin: 0em 3em;
    border-radius: 2em;
    /* overflow-y: scroll; */
  }

  .commentlist{
    margin: 0em 2em;
  }
  .comment{
    font-style: black;
    font-size: large;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  .modalHeader {
    height: 3em;
    background: rgb(137, 134, 134);
    overflow: hidden;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }
  
  .heading {
    margin: 0;
    padding: 0.8em;
    color: #06090b;
    font-weight: 50em;
    font-size: 1.2em;
    text-align: center;
  }
  
  .modalContent {
    padding: 0.7em;
    font-size: 2em;
    color: #06090b;
    text-align: center;
  }
  
  .modalActions {
    position: absolute;
    bottom: 0.02em;
    margin-bottom: 10em;
    width: 100%;
  }
  
  .actionsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ff3e4e;
  }
  
  .closeBtn {
    cursor: pointer;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: #2c3e50;
    background: white;
    transition: all 0.25s ease;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
    position: absolute;
    right: 0;
    top: 0;
    align-self: flex-end;
    margin-top: -7px;
    margin-right: -7px;
  }
  
  .closeBtn:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    transform: translate(-4px, 4px);
  }
  .imgButton{
    width:20em;
    height:4em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    background-color: #0e3161;
  }
  
  .deleteBtn {
    /* margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #fff;
    background: #ff3e4e;
    transition: all 0.25s ease; */
    width: 2.5em;
    height: 2.5em;
    border-radius: 0.9em;
    /* margin-top: 2em;
    margin-bottom: 2em; */
  }
  
  .deleteBtn:hover {
    box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
    transform: translateY(-5px);
    background: #ff3e4e;
  }
  
  .cancelBtn {
    /* margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #2c3e50;
    background: #fcfcfc;
    transition: all 0.25s ease; */
    width: 100px;
    height: 50px;
    font-size: large;
    font-weight: 300;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  
  .cancelBtn:hover {
    box-shadow: none;
    transform: none;
    background: whitesmoke;
  }

  .commentButton{
  width: fit-content;
  border-radius: 0.9em;
 margin-top: 1em;
  
  }

  .commment-input{
    width: 28em;
    margin-left: 4em;
    height: 1em;
    border-color: #06090b;
    font-size: 1em;
  }



@media screen and(max-width:550px) {
  
      body{
        --font-size:8px
      } 
       /* .darkBG {
        background-color: rgba(0, 0, 0, 0.2);
        width: 10em;
        height: 5em;
        width: var(--font-size);
        z-index: 10;
        top: auto;
        left: auto;
        position: fixed;
        top: 30px;
        left: 20px;
        transform: translate(-50%, -50%);
        
      } */
      
      .centered {
        /* position: relative; */
        /* top: -10px;
        left: -10px;
        right: -10px;
        bottom: -5em;
        margin-left: 0vw;
        margin-right: 10em; */
        /* transform: translate(-50%, -50%); */
        position: fixed;
        top: 3px;
        left: 3px;
        background-color: #f8f8f8;
      }
      
      .modal {
        /* width: 5vw;
        height: 4vh; */
        background: white;
        color: white;
        background-color: rgb(238, 245, 245);
        z-index: 10;
        border-radius: 1em;
        box-shadow: 0 0.1em 1.5em 0 rgba(0, 0, 0, 0.04);
        /* overflow-y: scroll; */
      }


}



  